//
//  ax_release.xcconfig
//  AXiOSKit
//
//  Created by 小星星吃KFC on 2021/1/12.
//  Copyright © 2021 axinger. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "ax_common.xcconfig"
#include "Pods/Target Support Files/Pods-AXiOSKitExample/Pods-AXiOSKit_Example.release.xcconfig"

IS_PRODUCATION = YES

/// 服务器
SERVER_HOST = @"https:/$()/www.正式.com/"
