//
//  Debug.xcconfig
//  AXiOSKitExample
//
//  Created by 小星星MacBook on 2020/8/22.
//  Copyright © 2020 liuweixing. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

/// 其实后面可能会报错，和Pods资源文件有冲突，所以后面还要加上一行代码，重点是URL链接写法。
/// 是否生产环境 - 不是
IS_PRODUCATION = NO

/// 服务器
SERVER_HOST = @"https:/$()/www.测试服.com/"

#include "Pods/Target Support Files/Pods-AXiOSKitExample/Pods-AXiOSKitExample.debug.xcconfig"
/// 引入Generator.xcconfig文件
#include "Generator.xcconfig"
