////
////  Release.xcconfig
////  AXiOSKitExample
////
////  Created by 小星星MacBook on 2020/8/22.
////  Copyright © 2020 liuweixing. All rights reserved.
////
//
//// Configuration settings file format documentation can be found at:
//// https://help.apple.com/xcode/#/dev745c5c974
//
///// 是否生产环境 - 是
//IS_PRODUCATION = YES
//
///// 服务器
//SERVER_HOST = @"https:/$()/www.线上服.com/"
//
//#include "Pods/Target Support Files/Pods-AXiOSKitExample/Pods-AXiOSKitExample.release.xcconfig"
///// 引入Generator.xcconfig文件
//#include "Generator.xcconfig"
